<nav class="navbar">
    <div class="logo">
        <a href="/"><img src="logo.png" alt="logo"></a>
    </div>
    <ul class="links">
        <li><a href="/" class="link">Home</a></li>
        <li><a href="/about" class="link">About</a></li>
        <li><a href="/passwords" class="link">Passwords</a></li>
    </ul>
</nav>
