<nav class="navbar">
    <div class="logo">
        <a href="/"><img src="logo.png" alt="logo"></a>
    </div>
    <ul class="links">
        <li><a href="/" class="link">Home</a></li>
        <li><a href="/about" class="link">About</a></li>
        <li><a href="/the-secret-to-this-life" class="link" target="_blank">*Secret to this life*</a></li>
    </ul>
</nav>
