<section class="about">
    <h1 class="display">
        Duckey's Adventure
    </h1>
    <p class="small o-w-text">
        by <a href="mailto:bernardsolian@switchmaven.com?subject=Congrats!!!%20Well%20done!" target="_blank">Bernard.</a>
    </p>
</section>
