<section class="about">
    <h1 class="display">
        Duckeys Adventure
    </h1>
    <p class="small">by</p>
    <p class="small name">
        <a href="mailto:bernardsolian@switchmaven.com?subject=Congrats!!!%20Well%20done!" target="_blank">Bernard.</a>
    </p>
</section>
