<h1 class="display">Duckey's Adventure</h1>
<p>
    Duckey was a three month old Chimp. He lived on his mothers back for as long as he could remember.
    One day Duckey awoke to a loud and terrifing sound. He looked over to his mum, but she was sadly killed by a hunters bullet.
</p>
<p class="question">
    <u> What should Duckey do? </u>
</p>
<ul class="qlinks">
    <li>
        λ: <a href="/stay"> Stay with is Mum and see what the hunters do </a>
    </li>
    <li>
        λλ: <a href="/run" id='run'> Runaway, Live and Fight another day. </a>
    </li>
</ul>
