<div class="content">
    <div class="container">
        <h1 class="display-4">
            Duckey gets adopted!
        </h1>
        <p>
            Duckey slowly adopted his new human friends, especially little Karen.
        </p>
        <p>
            Little Karen was the hunters Grand mother who was 98 years old. I guess it was because
          Little Karen looked after him and fed him the most.
            <br/>
            Life was turning out well for Duckey.
        </p>
        <p>
            All the hunters family members took turns nursing duckey and in return Duckey gave
          them nothing but love and joy.
        </p>
        <p>
            Duckey had moments when he would think about his Mum, But he would then remember the love and attention
          he got from his new family, and start jumping around the house and make every one scream and laugh.
        </p>
        <figure class="figure">
            <img alt="Duckey the Chimp" class="figure-img img-fluid rounded" src="/chimp-w-gun.jpg"/>
            <figcaption class="figure-caption">
                Duckey Being a clown.
            </figcaption>
        </figure>
    </div>
</div>
