
<h1 class="display">
    Duckey On The Run.
</h1>
<p>
    Duckey left his mum and ran deep into the jungle. It was there that he
  ran into a biochemist named Dr. Schwarzenegger.
</p>
<p>
    The good doctor took great care of him and later introduced him to his
  son Pete. Pete and Duckey were inseperable and grew up living in the
  same room recievieng the same gifts on Christmas and on Pete's
  birthday.
    <br/>
    Life was Good for a while.
</p>
<p>
    One day Dr. Schwarzenegger accidentally brought home an experimental
  drug.
</p>
<p>
    Long story short, Duckey turned planet Earth into the "Planet of The
  Apes", he also kept Pete and Dr. Schwarzenegger as his advisers.
</p>
<figure class="figure">
    <img alt="Duckey the Chimp" class="figure-img img-fluid rounded" src="/chimp-w-gun.jpg"/>
    <figcaption class="figure-caption">
        Duckey taking over the world!
    </figcaption>
</figure>
