<h1 class="display">
    Duckey meets Humans
</h1>
<p>
    Duckey was picked up by a Hunter, Duckey noticed the hunters beard was
  like a mini Jungle and that sort of calmed Duckey down when the hunter
  approached Duckey, Duckey leaped into the hunters arms. The Hunter,
  realizing what he had done, burried duckey mother and marked it with a
  cross.
</p>
<p class="question">
    The next day, Duckey woke and found himself in a strange and
  unfamiliar environment. He turned and saw humans looking at him. He
  became frightened and:
</p>
<ul class="qlinks">
    <li>
        λ: <a href="/family"> was about to jump out the window when the Hunter walked into the room. </a>
    </li>
    <li>
        λλ: <a href="/meets-the-dog" id="dog"> Jumped out the window </a>
    </li>
</ul>
